@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">Easy<span class="text-success">Life</span><img src="~/images/logo.png" alt="logo" id="logoStyle"></h1>
</div>
<hr class="bg-success" />

<form>
    <div class="text-left">
        <h4>We are here to make your life easier and more green.</h4>
    </div>
    <br />
    <div class="text-right">
        <h4>We are here to present the world our awesome services.</h4>
    </div>
    <br />
    <div class="text-left">
        <h4>Just call us today and your yard or business building will look like paradise.</h4>
    </div>
    <br />
    <div class="text-right">
        <h4>Don't waste time - green the world today.</h4>
    </div>
</form>
<hr class="bg-success" />
<div class="text-center">
    <h1 class="display-4">Our team</h1>
</div>
