@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EasyLife</h1>
    <p>We are here to make your life easier and more green with our services</p>
</div>
