@model EasyLife.Domain.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Create Employee</h1>
</div>
<hr class="bg-success" />
<div class="row text-center justify-content-center">
    <div class="col-md-4 text-center">
        <form asp-controller="Employee" asp-action="CreateEmployee" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPosition"></label>
                <input asp-for="JobPosition" class="form-control" />
                <span asp-validation-for="JobPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookUrl"></label>
                <input asp-for="FacebookUrl" class="form-control" />
                <span asp-validation-for="FacebookUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePictureUrl"></label>
                <input asp-for="ProfilePictureUrl" type="file" name="ProfilePictureUrl" class="form-control" />
                <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>
